body {
  font-family: 'TTFirsNeue-Medium';
  margin: 55px 0;
  width: 100%;
  height: 100%;
  background: 
    linear-gradient(to right, #138be1, #23c088, #2db5d3),
    linear-gradient(to top, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
  background-blend-mode: overlay;
}
